---
import { type CollectionEntry, getCollection } from 'astro:content'
import { readingTime } from '@lib/utils'
import Container from '@components/base/Container.astro'
import BackToPrevious from '@components/blog/BackToPrevious.astro'
import FormattedDate from '@components/blog/FormattedDate.astro'
import Layout from 'Layout.astro'
import ariel from '../../assets/ariel.jpeg'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
	const projects = (await getCollection('project')).filter((project) => !project.data.draft).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project
	}))
}
type Props = CollectionEntry<'project'>

const project = Astro.props
const { Content } = await project.render()
---

<Layout title={project.data.title} description={project.data.description} type="blog">
	<main class="space-y-16 overflow-clip sm:space-y-28 lg:space-y-32">
		<section class="relative min-h-screen scroll-mt-24 overflow-hidden">
			<Container>
				<div class="relative pt-24 sm:pt-40 lg:pt-44">
					<header class="mb-4 lg:mb-6">
						<address class="mb-6 flex items-center">
							<div class="mr-3 inline-flex items-center text-sm text-gray-900 dark:text-white">
								<Image class="mr-4 h-16 w-16 rounded-full" src={ariel} width={64} height={64} alt={project.data.author} />
								<div>
									<p class="text-xl font-bold text-gray-900 dark:text-white">{project.data.author}</p>
									<p class="text-base text-gray-500 dark:text-gray-400"><FormattedDate date={project.data.date} /> &bull; {readingTime(project.body)}</p>
									<ul class="mb-4 mr-4 list-none">
										{
											project.data.demoURL ? (
												<li class="mr-1 inline-block">
													<a href={project.data.demoURL} class="hover:text-primary font-medium">
														Demo
													</a>
												</li>
											) : null
										}
										{
											project.data.repoURL ? (
												<li class="mr-1 inline-block">
													<a href={project.data.repoURL} class="hover:text-primary font-medium">
														Repository
													</a>
												</li>
											) : null
										}
									</ul>
								</div>
							</div>
						</address>
						<h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 dark:text-white lg:mb-6 lg:text-4xl">{project.data.title}</h1>
						<BackToPrevious href="javascript:history.back()">Go Back</BackToPrevious>
					</header>
					<article class="prose prose-zinc dark:prose-invert lg:prose-xl">
						<Content />
					</article>
				</div>
			</Container>
		</section>
	</main>
</Layout>
