---
import FormattedDate from '@components/blog/FormattedDate.astro'
import { humanize } from '@lib/utils'
import { Image } from 'astro:assets'
import { slug } from 'github-slugger'
import BaseCard from '../base/BaseCard.astro'
const { list } = Astro.props
---

<div class="grid gap-3 md:grid-cols-2 lg:grid-cols-3">
	{
		list.map((entry) => (
			<BaseCard>
				<div class="relative overflow-hidden rounded-xl">
					<a href={`/${entry.collection}/${entry.slug}`}>
						<Image src={entry.data.cover} alt={entry.data.coverAlt} width="1000" height={256} class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105" />
					</a>
					<p class="mt-4" set:html={entry.data.coverCredit} />
				</div>
				<div class="relative mt-6">
					<span class="mb-2 mt-4 inline-block font-medium text-gray-400 dark:text-gray-500 sm:mt-0">
						<FormattedDate date={entry.data.date} />
					</span>
					<a href={`/${entry.collection}/${entry.slug}`}>
						<h3 class="text-2xl font-semibold text-gray-800 dark:text-white">{entry.data.title}</h3>
					</a>
					<a href={`/${entry.collection}/${entry.slug}`}>
						<p class="mb-8 mt-6 text-gray-600 dark:text-gray-300">{entry.data.description}</p>
					</a>
					<ul class="flex text-gray-900 dark:text-white">
						{entry.data.tags?.map((tag: string) => (
							<li>
								<a href={`/tag/${slug(tag)}`} class="block rounded-lg py-2 pr-4 text-sm font-semibold">
									#{humanize(tag)}
								</a>
							</li>
						))}
					</ul>
				</div>
			</BaseCard>
		))
	}
</div>
